<div id="homepage">
<img id="welcome" src="/images/welcome.png" alt="welcome image">

{{#each foundFests}}

    {{> eachFest}}
    <a class="see-details-text" href="/fests/details/{{_id}}">See details</a>

{{/each}}
</div>