body {
  padding: 0px 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('../images/background.jpeg');
}

#profile-pic{
  height: 200px;
  width: auto
}

a {
  color: #00B7FF;
}

img {
  height: 80px;
  margin-top: 15px;
}

body nav a{
  padding: 0.25em 1em;
  text-decoration: none; /* no underline */
  background-color: #ffbd59; /* pale bluish white */
  color: black; /* dark blue */
  border: 2px solid black;
  border-radius: 1em 1em; /* rounded corner! */
  
}

body nav a:hover, nav ul li a:focus {
  color: black;
  background-color: #FDD598;
  font-weight: bold;
}

#welcome {
  height: 30vh;
  width: 70vw;
}

.fest-form {
display: flex;
flex-direction: column;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#homepage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#fest-image{
  width: 50%;
  height: 50%;
}