body {
  padding: 0px 50px;
  font-family: 'Itim', cursive;
  background-image: url('../images/background.jpeg'); 
  color: #FDD598;
  font-size: 28px;
}

#profile-pic{
  height: 200px;
  width: 200px;
  border: 8px solid #ffbd59;
  border-radius: 100px;
  object-fit: cover;
}

#logo {
  height: 80px;
}

.all-fests{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.one-fest{
height: auto;
width: 30vw;
display: flex;
flex-direction: column;
align-items: center;
margin: 0px 2px 60px 2px
}

nav {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav, .see-details-text{
  text-decoration: none;
  font-size: 18px;
  border: 4px solid #FD7F31;
  border-radius: 10px;
  padding: 2px 8px;
  color: #FD7F31;
  background-color: #ffbd59;
  margin: 3px;
  font-family: 'Itim', cursive;
}

.nav:hover, .nav:focus, .see-details-text:hover, .see-details-text:focus {
  color: #FDD598;
  background-color: #FD7F31;
  font-weight: bold;
  border-color: #FDD598 ;
}

.see-details-text{
  font-size: 25px;
}

.to-right{
  display: flex;
}

.textarea{
  border-radius: 10px;
  color: #FD7F31;
  border: 2px solid #FD7F31;
  background-color: #FDD598;
}

.textarea::placeholder{
  color: #FD7F31;
}

#welcome {
  width: 65vw;
  height: auto;
}

.fest-form {
display: flex;
flex-direction: column;
}


#homepage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#fest-image{
height: 135px;
width: 240px;
object-fit: cover;
}

.festival-name-box{
  width: 400px;
  display: flex;
}

.username-box{
  width: 400px;
  display: flex;
}

.review-box{
  width: 90vw;
  height: 200px;
  display: flex;
}

.bio-box{
  width: 90vw;
  height: 120px;
  display: flex;
}

.favorite-set-box{
  width: 400px;
  display: flex;
}

.rating-box{
  width: 80px;
}

.posted-by-tag{
  text-decoration: none; /* no underline */
  font-size: 28px;
  border-radius: 10px;
  padding: 2px 8px;
  color: #FDD598;
  margin-bottom: 20px;
}

.posted-by-tag:hover, .posted-by-tag:focus {
  color: #FDD598;
  background-color: #FD7F31;
  font-weight: bold;
  border-color: #FDD598 ;
}

h2{
  font-size: 48px;
}

h3{
  font-size: 36px;
}


@media (max-width: 550px) {
  body {
   padding: 0px 10px;
   display: flex;
   flex-direction: column;
   align-items: center; 
   justify-content: center;    
  }

  #logo {
    height: 80px;
    margin-bottom: 8px;
  }

  #welcome {
    height: 223.83px;
    width: 358.14px;
  }

  .all-fests{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
  }
  
  .one-fest{
  height: auto;
  width: 70vw;
  
  margin: 0px 2px 100px 2px
  
  }

  body nav {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
  }

  .to-right{
    display: flex;
    flex-direction: column;
  }

}

@media (min-width: 1400px) {

  #welcome {
    height: 568.75px;
    width: 910px;
  }

}
