body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img {
  height: 25vh;
}

body nav a{
  padding: 0.25em 1em;
  text-decoration: none; /* no underline */
  background-color: #EBF5FF; /* pale bluish white */
  color: violet; /* dark blue */
  border: 2px solid black;
  border-radius: 1em 1em; /* rounded corner! */
  
}

body nav a:hover, nav ul li a:focus {
  color: black;
  background-color: white;
  font-weight: bold;
}



.fest-form {
display: flex;
flex-direction: column;
}