<h2>Add New Fest</h2>

<form action="/fests/create-fest" method="post" enctype="multipart/form-data">

    <div>
        <label for="">Festival name</label>
        <input type="text" name="name">
    </div>
        <br>
    <div>
    <label for="">Review</label>
    <input type="text" name="review">
    </div>
        <br>
    <div>
        <label for="">Favorite Set</label>
        <input type="text" name="favSet">
    </div>
        <br>
    <div>
        <label for="">Rating (0-100)</label>
        <input type="number" name="rating">
    </div>
        <br>
    <div>
        <label for="">Picture from Festival</label>
        <input type="file" name="imageUrl">
    </div>
        <br>

<button type="submit">Add Fest</button>

</form>

{{#if errorMessage}}

    <p>{{errorMessage}}</p>

{{/if}}
