<h2>Add New Fest</h2>

<form action="/fests/create-fest" method="post" enctype="multipart/form-data">

    <div>
        <label for="">Festival name</label>
        <input class="festival-name-box" type="text" name="name" style="border-radius: 10px; color: #FD7F31; border: 2px solid #FD7F31; background-color: #FDD598;">
    </div>
        <br>
    <div>
    <label for="">Review</label>
    <textarea class="review-box" type="text" name="review" style="border-radius: 10px; color: #FD7F31; border: 2px solid #FD7F31; background-color: #FDD598;"></textarea>
    </div>
        <br>
    <div>
        <label for="">Favorite Set</label>
        <input class="favorite-set-box" type="text" name="favSet" style="border-radius: 10px; color: #FD7F31; border: 2px solid #FD7F31; background-color: #FDD598;">
    </div>
        <br>
    <div>
        <label for="">Rating (0-100)</label>
        <input class="rating-box" type="number" name="rating" style="border-radius: 10px; color: #FD7F31; border: 2px solid #FD7F31; background-color: #FDD598;">
    </div>
        <br>
    <div>
        <label for="">Picture from Festival</label>
        <input type="file" name="imageUrl">
    </div>
        <br>

<button class="see-details-text" type="submit">Add Fest</button>

</form>

{{#if errorMessage}}

    <p>{{errorMessage}}</p>

{{/if}}
