<h2>Add New Fest</h2>

<form action="/fests/create-fest" method="post" enctype="multipart/form-data">

<label for="">Festival name</label>
<input type="text" name="name">

<label for="">Description</label>
<input type="text" name="description">

<label for="">Rating</label>
<input type="number" name="rating">

<label for="">Picture from Festival</label>
<input type="file" name="imageUrl">

<button type="submit">Add Fest</button>

</form>