<h2>Edit Fest</h2>

<form action="/fests/edit/{{_id}}" method="post">

<label for="">Festival Name</label>
<input type="text" name="name" value="{{name}}">

<label for="">Description</label>
<input type="text" name="description" value="{{description}}">

<label for="">Image</label>
<input type="text" name="imageUrl" value="{{imageUrl}}">

<button type="submit">Edit Fest</button>

</form>