<h2>Edit Profile</h2>

<form action="/users/edit-profile/{{_id}}"  method="post" enctype="multipart/form-data">

    <div>
        <label for="">Username</label>
        <input type="text" name="username" value="{{username}}">
    </div>
    <br>
    <div>
        <label for="">Bio</label>
        <input type="text" name="bio" value="{{bio}}">
    </div>
    <br>

    <div>
        <label for="">Profile Picture</label>
        <input type="file" name="imageUrl"  value={{imageUrl}}> 
    </div>

    <br>
    <button type="submit">Edit Profile</button>

</form>