<h2>Login</h2>

<form action="/users/login"  method="post">

<div>
    <label for="">Email</label>
    <input type="email" name="email" placeholder="your@email.com">
</div>
<br>

<div>
    <label for="">Password</label>
    <input type="password" name="password" placeholder="********">
</div>
<br>

    <button type="submit">Login</button>

    {{#if errorMessage}}
        <p>{{errorMessage}}</p>
    {{/if}}

</form>
