<h2>Hello {{username}}.</h2>


{{!-- {{#if fests}}

    <ul> --}}

{{#each profileFests}}

    {{> eachFest}}
    <a href="/fests/details/{{_id}}">See details</a>

{{/each}}

    {{!-- </ul>

{{else}}

    <p>You haven't created any festivals yet!</p>

{{/if}} --}}